<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapplication5020170423112144.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapplication5020170423112144.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApplication5020170423112144</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApplication5020170423112144</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MusicFunEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=musicfun.database.windows.net;Initial Catalog=MusicFun;Persist Security Info=True;User ID=hyun4545;Password=Hyjk471212;Application Name=EntityFramework" Name="Data Source=musicfun.database.windows.net;Initial Catalog=MusicFun;Persist Security Info=True;User ID=hyun4545;Password=Hyjk471212;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication50.Models.MusicFunEntities1, WebApplication50" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MusicFunEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=musicfun.database.windows.net;Initial Catalog=MusicFun;Persist Security Info=True;User ID=hyun4545;Password=Hyjk471212;Application Name=EntityFramework" Name="Data Source=musicfun.database.windows.net;Initial Catalog=MusicFun;Persist Security Info=True;User ID=hyun4545;Password=Hyjk471212;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=musicfun.database.windows.net;Initial Catalog=MusicFun;Persist Security Info=True;User ID=hyun4545;Password=Hyjk471212;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MusicFunEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=musicfun.database.windows.net;initial catalog=MusicFun;persist security info=True;user id=hyun4545;password=Hyjk471212;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MusicFunEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=musicfun.database.windows.net;initial catalog=MusicFun;persist security info=True;user id=hyun4545;password=Hyjk471212;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MusicFunEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=musicfun.database.windows.net;Initial Catalog=MusicFun;Persist Security Info=True;User ID=hyun4545;Password=Hyjk471212;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>